body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/* header */

.header-box {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

header .container {
    display: flex;
    justify-content: space-between;
}

.menu-box {
    display: flex;
    align-items: center;
}

.menu-items {
    display: flex;
    gap: 40px;
}

.contacts-box {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu_logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu_logo__decor {
    color: #2e2f42;
}

.menu__item {
    display: block;
    color: #2e2f42;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__item:hover {
    color: #404bbf;
}

.menu__item:focus {
    text-decoration: underline;
    color: #404bbf;
}

.menu__item.menu__item-active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
    color: #404bbf;
}

.menu__item-active {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts__item {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item:hover {
    color: #404bbf;
}

.contacts__item:focus {
    color: #404bbf;
}

/* Section 1 -  banner */
.banner {
    background: #2e2f42;
    padding: 188px 0;
    background-color: #2a2a2a;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.banner-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 48px;
    max-width: 496px;
}

.btn__ordr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__ordr:hover,
.btn__ordr:focus {
    background-color: #404bbf;
}

/* Our advantages - section 2 */

.advantages-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.adv-icon {
    width: 64px;
    height: 64px;
    stroke-width: 2px;
    fill: none;
}

.advantages-section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-box {
    display: flex;
    width: 1128px;

    gap: 24px;
}

.advantages-list {
    width: calc((100% - 72px) / 4);
}

.advantages__item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.advantages__text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Team - section 3 */

.team-section {
    background-color: #f4f4fd;

    padding: 120px 0;
}

.section-title {
    margin-bottom: 72px;
}

.team__item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team__box {
    display: flex;
    gap: 24px;
}

.team-list {
    padding: 32px 0;
}

.team-name {
    font-weight: 500;
    font-size: 20px;

    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
    list-style: none;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    color: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover,
.social-icon:focus {
    background-color: #404bbf;
}

.icon {
    fill: currentColor;
}

/* Section 4 - Portfolio */

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-box {
    display: flex;
    gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.portfolio-list {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover .portfolio-overlay-text {
    transform: translateY(0);
}

.portfolio-descript {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0 0 8px 0;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */

.footer_logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.footer_logo__decor {
    color: #f4f4fd;
}

.footer-cont {
    background-color: #2e2f42;
    height: 312px;
    padding: 100px 0;
}

.footer-box-cont {
    display: flex;
    align-items: baseline;
}

.footer-about {
    margin-right: 120px;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    width: 264px;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.social-icons-footer {
    gap: 16px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-icon-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    color: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer:hover,
.social-icon-footer:focus {
    background-color: #31d0aa;
}